.progressBar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    position: relative;
    height: 30px;
}

.innerProgressBar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 3s;
}